html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* BootStrap */
.accordion-button {
    background-color: lightgray !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #212529;
}

.card-header {
    font-size: 100%;
}
.card-body {
    font-size: 80%;
}
.card-footer { 
    font-size: 60%;
}